body {
  background-color: #c2c2c2;
  padding: 0;
  margin: 0;
}
h1 {
  color: white;
  font-size: 30px;
  font-family: Forum;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.60px;
  word-wrap: break-word;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align00: center;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1440px;
  height: 90px;
  position: relative;
  background-color: #0c0c0e;
  align-items: flex-start;
}
.header-left {
  display: inline-flex;
  justify-content: left;
  margin-left: 20px;
}
.header-right {
  display: inline-flex;
  justify-content: right;
  margin-top: 5px;
}
.nav {
  height: 50px;
  justify-content: space-evenly;
  display: inline-flex;
}
.nav ul {
  width: 584px;
  justify-content: space-evenly;
  display: inline-flex;
}
.nav li {
  display: inline-flex;
  color: white;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  line-height: 50px;
  word-wrap: break-word;
}
svg.pictogram{
	width: 28px;
	height: 28px;
  margin-top: 25px;
  margin-right: 20px;
}
a {
  color: #0c0c0e;
  text-decoration: underline;
}
a.menu, a.menu:link, a.menu:active, a.menu:visited {
  color: white;
  text-decoration: none;
}
a.menu:hover {
  color: #bb945f;
  text-decoration: underline;
  cursor: pointer;
}