body {
  background-color: #C2C2C2;
  padding: 0;
  margin: 0;
}

h1 {
  color: white;
  font-size: 30px;
  font-family: Forum;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.60px;
  word-wrap: break-word;
}

p, h2, ul, form {
  padding: 0;
  margin: 0;
}

img {
  border: 0;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 1440px;
  height: 90px;
  position: relative;
  background-color: #0C0C0E;
}

.header-left {
  display: inline-flex;
  justify-content: left;
  margin-left: 20px;
}

.header-right {
  display: inline-flex;
  justify-content: right;
  margin-top: 20px;
}

.nav {
  height: 50px;
  justify-content: space-evenly;
  display: inline-flex;
  margin-right: 30px;
}

.nav ul {
  width: 584px;
  justify-content: space-evenly;
  display: inline-flex;
  gap: 30px;
}

.nav li {
  display: inline-flex;
  color: white;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  line-height: 50px;
  word-wrap: break-word;
}

svg.pictogram {
	width: 28px;
	height: 28px;
  margin-top: 10px;
  margin-right: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.welcome {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: flex-start;
  width: 1440px;
  height: 600px;
  position: relative;
  background: url(../images/welcome.jpg);
  /*background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0%, rgba(18.33, 18.33, 21.25, 0.10) 100%), url(../images/welcome.jpg);*/
}

.welcome-overlay {
  width: 1440px;
  height: 300px;
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0%, rgba(18.33, 18.33, 21.25, 0.10) 100%);
}

.welcome-block {
  position: absolute;
  text-align: center;
  width: 600px;
  height: 220px;
  padding-top: 220px;
}

.welcome-text {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 35px;
  padding-bottom: 35px;
  background: #0C0C0E;
  color: white;
  font-size: 40px;
  font-family: Forum;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 50px;
  letter-spacing: 3px;
  word-wrap: break-word;
}

.title {
  text-align: center;
  color: #0C0C0E;
  font-size: 40px;
  font-family: Forum;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 40px;
  letter-spacing: 2px;
  word-wrap: break-word;
}

.title-line {
  text-align: center;
  width: 50px;
  height: 1px;
  margin-top: 20px;
  background: #0C0C0E;
}

.section-about {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 1440px;
  height: 837px;
  padding-top: 20px;
  background: white;
}

.about-text {
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  line-height: 40px;
  padding-top: 40px;
  word-wrap: break-word;
}

.about-images {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1400px;
  height: 560px;
  padding-top: 20px;
  gap: 25px;
}

.about-image-item {
  width: 450px;
  height: 560px;
}

.slide1, .slide2, .slide3 {
  display: inline;
}

.slide4, .slide5  {
  display: none;
}

.about-pagination {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 16px;
  margin-top: 40px;
}

.pagination-item {
  width: 16px;
  height: 16px;
  background: #0C0C0E;
  border-radius: 50px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.pagination-item-wrapper {
  width: 26px;
  height: 26px;
  border-radius: 50px;
  cursor: pointer;
}

.pagination-item-active {
  background: #BB945F;
}

.section-favorites {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 1440px;
  height: 1439px;
  background: white;
}

.favorites-wrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 1440px;
  margin-left: 40px;
}

.favorites-text {
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 700;
  padding-top: 40px;
  word-wrap: break-word;
  text-align: left;
}

.favorites-seasons {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 1440px;
  margin-left: 40px;
  padding-top: 40px;
  gap: 80px;
}

.favorites-season-label {
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}

.favorites-season-radio {
  width: 17px;
  height: 17px;
}

.favorites-radio-wrapper {
  display: inline-flex;
  margin-right: 12px;
  width: 27px;
  height: 27px;
  border-radius: 50px;
  cursor: pointer;
}

.favorites-books {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1440px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 40px;
}

.book-wrapper {
  width: 590px;
  margin-left: 20px;
}

.book-bg {
  width: 550px;
  height: 555px;
  background: white;
  border: 0.50px black solid;
  padding-top: 15px;
  padding-left: 20px;
}

.book-staff {
  color: black;
  font-size: 20px;
  font-family: Forum;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 40px;
  letter-spacing: 2px;
  word-wrap: break-word;
}

.book-line {
  width: 60px;
  height: 0px;
  border: 0.50px #BB945F solid;
}

.book-name {
  margin-top: 20px;
  color: black;
  font-size: 15px;
  font-family: Inter;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 40px;
  letter-spacing: 2px;
  word-wrap: break-word;
}

.book-autor {
  color: black;
  font-size: 15px;
  font-family: Inter;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 40px;
  letter-spacing: 2px;
  word-wrap: break-word;
}

.book-summary {
  margin-top: 20px;
  width: 355px;
  color: black;
  font-size: 15px;
  font-family: Inter;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 40px;
  letter-spacing: 2px;
  word-wrap: break-word;
}

.book-image {
  display: flex;
  width: 200px;
  height: 300px;
}

.book-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 0.50px #0C0C0E solid;
  text-align: center;
}

.book-button-label {
  color: #0C0C0E;
  font-size: 10px;
  font-family: Inter;
  font-weight: 700;
  letter-spacing: 1px;
  word-wrap: break-word;
}

a {
  color: #0c0c0e;
  text-decoration: underline;
}

a.menu, a.menu:link, a.menu:active, a.menu:visited {
  color: white;
  text-decoration: none;
}

a.menu:hover {
  color: #bb945f;
  text-decoration: underline;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
