html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  background: #C2C2C2;
  padding: 0;
  margin: 0;
}

h1 {
  color: white;
  font-size: 30px;
  font-family: Forum;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.60px;
}

p, h2, ul, form {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline;
}

a {
  color: #0c0c0e;
  text-decoration: underline;
}

a.menu, a.footer-link, a.menu:link, a.menu:active, a.menu:visited {
  color: white;
  text-decoration: none;
}

a.menu:hover {
  color: #bb945f;
  text-decoration: underline;
  cursor: pointer;
}

a.user-link {
  text-decoration: none;
}

.bold {
  font-weight: 700;
}

.small-font {
  font-size: smaller;
}

.box-shadow {
  box-shadow: 5px 10px 10px -10px rgba(0,0,0,0.5);
}

.container {
  width: 100%;
  max-width: 1440px;
  min-height: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: white;
  overflow: hidden;
}

.header {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 90px;
  position: relative;
  background-color: #0C0C0E;
}

.header-left {
  display: inline-flex;
  justify-content: left;
  margin-left: 20px;
}

.header-right {
  display: inline-flex;
  justify-content: right;
  margin-top: 20px;
}

.nav {
  height: 50px;
  display: inline-flex;
  justify-content: space-evenly;
  margin-right: 40px;
}

.nav ul {
  display: inline-flex;
  flex-wrap: wrap ;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 30px;
}

.nav li {
  display: inline-flex;
  color: white;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  line-height: 50px;
}

/*svg.pictogram {
	width: 28px;
	height: 28px;
  margin-top: 10px;
  margin-right: 20px;
}*/

.main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Section Welcome */

.section-welcome {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: flex-start;
  height: 600px;
  position: relative;
  background: url(../images/welcome_big.jpg);
  background-position: center;
  background-size: 100% 100dvb;
  background-repeat: no-repeat;
  /*background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0%, rgba(18.33, 18.33, 21.25, 0.10) 100%), url(../images/welcome.jpg);*/
}

.welcome-overlay {
  max-width: 100%;
  height: 300px;
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0%, rgba(18.33, 18.33, 21.25, 0.10) 100%);
}

.welcome-block {
  position: absolute;
  text-align: center;
  max-width: 600px;
  height: 220px;
  padding-top: 220px;
}

.welcome-text {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 35px;
  padding-bottom: 35px;
  background: #0C0C0E;
  color: white;
  font-size: 40px;
  font-family: Forum;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 50px;
  letter-spacing: 3px;
}

.title {
  text-align: center;
  color: #0C0C0E;
  font-size: 40px;
  font-family: Forum;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 40px;
  letter-spacing: 2px;
}

.title-line {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 1px;
  margin-top: 20px;
  background: #0C0C0E;
  margin-bottom: 40px;
}

/* Section About */

.section-about {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
}

.about-text {
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  line-height: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.about-images {
  /*width: 1400px;*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 20px;
  gap: 25px;
}

.about-image-item {
  width: 450px;
  height: 560px;
}

.about-carretes {
  display: none;
  position: absolute;
  z-index: 99;
}

.about-carretes:hover {
  color: #bb945f;
  cursor: pointer;
}

.about-carret-left{
  margin-right: 26px;
  margin-top: 48px;
}

.about-carret-right{
  margin-left: 586px;
  margin-top: 48px;
}

.carousel {
  transition-duration: 1s;
  transition-property: all;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
}

/*
.slide1, .slide2, .slide3 {
  display: inline;
}

.slide4, .slide5  {
  display: none;
}
*/

.slide-hide {
  visibility: hidden;
  /*opacity: 0;*/
  transition-delay: 1s;
  transition-timing-function: ease-in-out;
}

.pag-item1, .pag-item2, .pag-item3 {
  display: inline;
}

.pag-item4, .pag-item5 {
  display: none;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 16px;
  margin-top: 20px;
}

.pagination-item {
  width: 16px;
  height: 16px;
  background: #0C0C0E;
  border-radius: 50px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.pagination-item-wrapper {
  width: 26px;
  height: 26px;
  border-radius: 50px;
  cursor: pointer;
}

.pagination-item-active {
  background: #BB945F;
  cursor: default;
}

/* Section Favorites */

.section-favorites {
  width: 100%;
  height: 1439px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.favorites-text {
  text-align: left;
  margin-left: 20px;
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 700;
  margin-top: 40px;
}

.favorites-seasons {
  /*max-width: 50%;*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 16px;
  margin-top: 40px;
  gap: 75px;
}

.season-label {
  color: black;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
}

.season-wrapper {
  display: inline-flex;
  cursor: pointer;
}

.season-radio {
  width: 17px;
  height: 17px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.favorites-container {
  position: relative;
}

.favorites-books {
  position: absolute;
  width: 98%;
  height: 555px;
  display: flex;
  flex-direction: row;
  justify-content: space-between safe;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  margin-left: 0px;
  margin-top: 40px;
  gap: 40px 245px;
  /*transition: opacity 1s;*/
  opacity: 0;
}

.favorites-slide-show {
  opacity: 1;
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

.favorites-slide-hide {
  opacity: 0;
  animation-name: fadeOut;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-timing-function: linear;
}

@keyframes fadeOut {
  0% { opacity: 1 }
  100% { opacity: 0 }
}

.book-wrapper {
  position: relative;
  display: inline-block;
  width: 548px;
  height: 554px;
  border: 0.50px black solid;
  margin-left: 20px;
  margin-top: 0px;
}

.book-image {
  position: absolute;
  bottom: -1px;
  right: -41px;
  width: 200px;
  height: 300px;
}

.book-button {
  position: absolute;
  bottom: 15px;
  left: 20px;
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 0.50px #0C0C0E solid;
  text-align: center;
  color: #0C0C0E;
  font-size: 10px;
  font-family: Inter;
  font-weight: 700;
  letter-spacing: 1px;
  background: white;
  z-index: 2;
}

.book-button:hover {
  background: #BB945F;
}

.button-disabled {
  border: 0.50px #BB945F solid;
  color: #BB945F;
}

.button-disabled:hover {
  background: white;
}

.book-staff {
  margin-top: 14px;
  margin-left: 18px;
  color: black;
  font-size: 20px;
  font-family: Forum;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 40px;
  letter-spacing: 2px;
}

.book-line {
  margin-top: 0px;
  margin-left: 18px;
  width: 60px;
  height: 0px;
  border: 0.50px #BB945F solid;
}

.book-name {
  margin-top: 18px;
  margin-left: 20px;
  color: black;
  font-size: 15px;
  font-family: Inter;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 40px;
  letter-spacing: 2px;
}

.book-autor {
  margin-left: 20px;
  color: black;
  font-size: 15px;
  font-family: Inter;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 40px;
  letter-spacing: 2px;
}

.book-summary {
  margin-top: 20px;
  margin-left: 20px;
  width: 355px;
  color: black;
  font-size: 15px;
  font-family: Inter;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 40px;
  letter-spacing: 2px;
}

/* Section Coffee Shop */

.section-coffee-shop {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /*margin-top: 60px;*/
}

.coffee-shop-text {
  text-align: center;
  margin-top: 40px;
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  margin-left: 20px;
  margin-right: 20px;
}

.coffee-menu-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.coffee-menu-column-left {
  width: 445px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
  margin-left: 20px;
  gap: 40px;
}

.coffee-menu-column-right {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 40px;
  margin-right: 30px;
}

.coffee-menu-drikns {
  color: #BB945F;
  font-size: 40px;
  font-family: Forum;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 40px;
  letter-spacing: 2px;
}

.coffee-menu-cakes {
  text-align: right;
  color: #BB945F;
  font-size: 40px;
  font-family: Forum;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 40px;
  letter-spacing: 2px;
}

.coffee-menu-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 60px;
}

.menu-item-name {
  flex-grow: 2;
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 40px;
  letter-spacing: 2px;
  word-wrap: break-word
}

.menu-item-line {
  width: 100px;
  height: 2px;
  background: #BB945F;
}

.menu-item-price {
  color: black;
  font-size: 20px;
  font-family: Forum;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 40px;
  letter-spacing: 2px;
}

/* Section Our Contacts */

.section-our-contacts {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.contacts-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
  margin-top: 28px;
  gap: 100px;
}

.contacts-address {
  margin-left: 20px;
}

.contacts-text {
  width: 506px;
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 40px;
  letter-spacing: 2px;
  word-wrap: normal;
  margin-bottom: 20px;
}

.contacts-text-header1 {
  margin-bottom: 40px;
  font-weight: 700;
}

.contacts-text-header2 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 700;
}

.contacts-map {
  align-self: center;
  margin-top: 40px;
  height: 414px;
  margin-right: 25px;
  margin-left: 20px;
}

/* Section Library Card */

.section-library-card {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.card-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 28px;
  gap: 10px;
}

.card-find-form {
  margin-top: -30px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.find-form-header {
  align-self: center;
  color: black;
  font-size: 30px;
  font-family: Inter;
  font-weight: 400;
  letter-spacing: 0.60px;
  margin-top: 0px;
  margin-left: 20px;
}

.find-form-wrapper {
  width: 589px;
  height: 382px;
  background: white;
  border: 3px #BB945F solid;
  margin-top: 30px;
  margin-left: 0px;
}

.find-form-block {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 24px;
  background: #BB945F;
}

.find-form-text {
  padding-top: 16px;
  margin-left: 15px;
  color: black;
  font-size: 30px;
  font-family: Forum;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.60px;
}

.find-form-input {
  margin-top: 20px;
  margin-left: 18px;
  padding-left: 18px;
  padding-right: 20px;
  border: 0;
  width: 480px;
  height: 66px;
  background: white;
  border-radius: 10px;
  color: #8E8E8E;
  font-size: 30px;
  font-family: Forum;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.60px;
}

.find-form-submit-wrapper {
  width: 595px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.find-form-button {
  width: 242px;
  height: 44 px;
  margin-left: 0px;
  margin-top: 25px;
  padding-top: 8px;
  padding-bottom: 10px;
  border-radius: 2px;
  border: 0.50px #0C0C0E solid;
  text-align: center;
  color: #0C0C0E;
  font-size: 20px;
  font-family: Inter;
  font-weight: 700;
  letter-spacing: 1px;
  background: white;
}

.find-form-button:hover {
  background: #BB945F;
}

.find-form-statistics-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 595px;
  height: 63px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.find-form-statistics-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 63px;
}

.find-form-statistics-column-visits {
  width: 27px;
}

.find-form-statistics-column-bonuses {
  width: 42px;
}

.find-form-statistics-column-books {
  width: 30px;
}

.find-form-statistics-parameter {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
}

.find-form-statistics-icon {
  margin-top: 1px;
  margin-bottom: 1px;
  text-align: center;
}

.find-form-statistics-count {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
}





.card-login-form {
  margin-right: 25px;
  margin-bottom: 40px;
}

.login-form-header {
  align-self: right;
  text-align: right;
  margin-right: 0px;
  margin-top: -8px;
  color: black;
  font-size: 30px;
  font-family: Forum;
  font-weight: 400;
  letter-spacing: 0.60px;
}

.login-form-text {
  align-self: right;
  text-align: right;
  margin-top: 38px;
  margin-left: 0px;
  padding-left: 16px;
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.40px;
}

.login-form-submit-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 4px;
  padding-top: 20px;
  margin-top: 20px;
}

.login-form-button {
  margin-left: 20px;
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 0.50px #0C0C0E solid;
  text-align: center;
  color: #0C0C0E;
  font-size: 10px;
  font-family: Inter;
  font-weight: 700;
  letter-spacing: 1px;
  background: white;
}

.login-form-button:hover {
  background: #BB945F;
}

/* footer section */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #0C0C0E;
}

.footer-container {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-address {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  width: 220px;
  color: white;
  font-size: 15px;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
}

.footer-opening {
  text-align: right;
  color: white;
  font-size: 15px;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
}

.footer-social {
  display: inline-flex;
  margin-bottom: 10px;
  gap: 15px;
}

.footer-line {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: 1px;
  margin-top: 20px;
  background: white;
}

.footer-year {
  height: 80px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
}

.footer-school {
  height: 80px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  color: white;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
}

.footer-student {
  height: 80px;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  width: 113px;
  color: white;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
}

/* Mobile menu and icons */

.user-initials {
  color: #0C0C0E;
  font-weight: bold;
  background: white;
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

.pic-user {
  margin-top: 11px;
  margin-right: 20px;
}

.pic-hamburger {
  margin-top: 6px;
  margin-right: 15px;
}

.hamburger {
  display: none;
  margin-left: 15px;
  margin-right: 5px;
  margin-top: 2px;
  z-index: 5;
}

.mobile-menu {
  display: block;
  position: absolute;
  top: 0px;
  z-index: 3;
  right: -332px;
  width: 332px;
  height: 570px;
  background: black;
  transition-duration: 1s;
  transition-property: all;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
}

.mobile-menu__open {
  transform: translateX(-332px);
}

.mobile-links-wrapper {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-link {
  color: white;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  margin-top: 30px;
}

.user {
  z-index: 5;
}

.hidden-area {
  display: none;
}

.user-menu {
  display: block;
  position: absolute;
  z-index: 3;
  right: 90px;
  top: 60px;
  width: 80px;
  height: 0px;
  overflow: hidden;
  background: white;
  transition-duration: 1s;
  transition-property: all;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
}

.user-menu__open {
  /*height: 115px;*/
  height: 215px;
  transition: height 1s;
}

.user-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.user-menu-header {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.user-menu-line {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 1px;
  margin-top: 5px;
  background: #BB945F;
}

.user-menu-links {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 10px;
  line-height: 30px;
}

/* Modal windows */

.modal-wrapper {
  display: none;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: 3;
  background: rgba(110, 110, 110, 0.8);
}

.modal-window {
  display: none;
  position: fixed;
  z-index: 4;
  top:  50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: white;
}

.modal-login {
  width: 250px;
  height: 262px;
}

.modal-register {
  width: 250px;
  height: 382px;
}

.modal-buy {
  width: 650px;
  height: 540px;
}

.modal-profile {
  width: 600px;
  height: 400px;
}

.modal-close-button {
  width: 20px;
  height: 20px;
  position: absolute;
  text-align: right;
  right: 15px;
  top: 15px;
}

.logon-container {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.logon-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}

.logon-title {
  text-align: center;
  font-size: 20px;
  font-family: Forum;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 0.40px;
  margin-bottom: 20px;
}

.logon-input-text {
  font-size: 15px;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.30px;
}

.logon-input {
  height: 18px;
  border: 0.50px #BB945F solid;
  font-size: medium;
}

.logon-input-error {
  border: 1px red solid;
}

.logon-button {
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 0.50px #0C0C0E solid;
  color: #0C0C0E;
  font-size: 10px;
  font-family: Inter;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  background: white;
}

.logon-button:hover {
  background: #BB945F;
}

.logon-alternate-text {
  font-size: 10px;
  font-family: Inter;
  font-weight: 400;
  margin-top: 0px;
}

.logon-alternate-link {
  font-size: 10px;
  font-family: Inter;
  font-weight: 700;
  text-decoration: underline;
  letter-spacing: 1px;
  margin-left: 10px;
}

.login-input-button {
  margin-top: 15px;
}

.register-input-text{
  margin-top: 5px;
}

.register-input-button {
  margin-top: 15px;
}

.buy-title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  background: #0C0C0E;
}

.buy-title-text {
  color: #FFF;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.buy-close-button {
  width: 25px;
  height: 25px;
  position: absolute;
  text-align: right;
  right: 25px;
  top: 25px;
}

.buy-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 40px;
}

.buy-left-side {
  width: 200px;
  margin-left: 40px;
  margin-top: 30px;
}

.buy-right-side {
  width: 330px;
  margin-top: 30px;
  margin-right: 40px;
}

.buy-text-exp{
margin-top: 2px;
}

.buy-exp-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.buy-exp-input {
  width: 40px;
  height: 18px;
  border: 0.50px #BB945F solid;
}

.buy-exp-input-error {
  border: 1px red solid;
}

.buy-text-cvc {
  margin-top: 2px;
}

.buy-holder-input {
  margin-top: 12px;
}

.buy-text-city {
  margin-top: 2px;
}

.buy-price-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
  gap: 10px;
  margin-top: 5px;
}

.buy-price {
  color: #0C0C0E;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-left: 15px;
}

.buy-text {
  color: #8E8E8E;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.profile-left-side {
  width: 170px;
  height: 403px;
  background: #0C0C0E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-initials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  width: 80px;
  height: 80px;
  color: #BB945F;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: capitalize;
  align-self: center;
}

.profile-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  min-height: 30px;
  flex-shrink: 0;
  background: white;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
  margin-top: 20px;
}

.profile-right-side {
  background: white;
  height: 400px;
  margin-left: 10px;
}

.profile-close-button {
  width: 20px;
  height: 20px;
  position: absolute;
  text-align: right;
  right: 25px;
  top: 25px;
}

.profile-title {
  color: #000;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-top: 40px;
}

.profile-statistics-table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin-top: 40px;
  width: 237px;
  height: 81px;
}

.statistics-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 81px;
}

.statistics-column-visits {
  width: 53px;
}

.statistics-column-bonuses {
  width: 84px;
}

.statistics-column-books {
  width: 60px;
}

.statistics-parameter {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
}

.statistics-icon {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.statistics-count {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
}

.profile-books-title {
  color: #0C0C0E;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.profile-books-container {
  width: 400px;
  height: 80px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-left: 10px;
}

/*
.profile-books-container ul {
  display: list-item;
  list-style-type: disc;
}
*/

.profile-books-container-scroll {
  overflow: scroll;
}

.profile-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 15px;
}

.profile-card-text {
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.profile-card-number {
  color: #BB945F;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-left: 8px;
}

.profile-card-copy {
  margin-left: 3px;
}

/* Media query's */

@media (min-width: 1025px) {

  /*img {
    max-width: 100%;
    height: auto;
    border: 0;
  }*/

  .login-form-text {
    width: 456px;
  }

  .section-library-card {
    margin-bottom: 40px;
  }

  .user-menu {
    right: 20px;
  }

}

@media (max-width: 1200px) {

  .card-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

@media (max-width: 1024px) {

  .container {
    max-width: 1024px;
  }

  .hamburger {
    display: inline;
  }

  .nav {
    display: none;
  }

  .about-text {
    margin-bottom: 0px;
  }
  .about-images {
    justify-content: center safe;
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 100px;
    /*gap: 100px;*/
  }

  .about-carret-left, .about-carret-right {
    display: inline;
  }

  /*
  .slide1, .slide2, .slide3, .slide4, .slide5 {
    display: none;
  }
  */

  .pag-item4, .pag-item5 {
    display: inline;
  }

  .book-wrapper {
    margin-left: -22px;
    margin-top: 0px;
  }

  .section-favorites {
    height: 2629px;
  }

  .favorites-books {
    flex-direction: column;
    justify-content: center;
    margin-right: 0px;
    margin-left: 0px;
  }

  .coffee-menu-wrapper {
    flex-direction: column;
  }

  .coffee-menu-column-right{
    margin-top: 40px;
    margin-right: 20px;
  }

  .contacts-wrapper {
    flex-direction: column;
    gap: 40px;
  }

  .find-form-header{
    text-align: center;
    margin-left: 0px;
  }

  .card-find-form {
    margin-top: -30px;
    margin-left: 0px;
  }

  .login-form-header {
    text-align: center;
    padding-left: 25px;
  }

  .login-form-text {
    text-align: center;
    padding-left: 11px;
    margin-left: 0px;
  }

  .login-form-submit-wrapper {
    justify-content: center;
  }

  .login-form-text {
    margin-left: 100px;
    margin-right: 100px;
  }

}