/*
https://html5book.ru/css3-transition/?ysclid=lldf5uhtzs545117751
*/
.box {
  width: 50%;
  margin: 0 auto 40px;
  position: relative;
  background: aqua;
}
.one {
  width: 100px;
  height: 100px;
  background-color: #E0CABB;
  margin: 0 auto;
  position: relative;
  left: 50px;
  color: #fff;
  transition-duration: 1s;
}
.one:hover {
  left: -50px;
}
.box2 {
  width: 300px;
  height: 200px;
  margin: 0 auto 40px;
  position: relative;
  background: yellowgreen;
  transition-duration: 1s;
}
.two {
  width: 300px;
  height: 200px;
  margin: 0 auto 40px;
  position: relative;
  background: salmon;
}
.box3 {
  width: 300px;
  height: 200px;
  margin: 0 auto 40px;
  position: relative;
  background: plum;
  transition-duration: 1s;
  transition-property: all;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
}
.box3__open{
  transform: translateX(-300px);
}
.box-4 {
  width: 300px;
  height: 200px;
  margin: 0 auto 40px;
  position: relative;
  background: palegoldenrod;
  transition-duration: 1s;
  transition-property: all;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
}
.box-4__open{
  transform: translateX(-300px);
}
